.nav{
    display: flex;
    gap: 0.5rem;
    width: fit-content;
}
.nav a {
    font-weight: 600;
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}
.nav a:visited {
    color: var(--white);
}
.nav a:hover {
    color: var(--green);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.nav a.active {
    color: var(--green);
}

@media screen and (min-width: 768px) {
    .nav a {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) {
    .nav {
        gap: 1rem;
    }
    .nav a {
        font-size: 1.5rem;
    }
}
